<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.songtolyrics">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name=".controler.ViewPagerActivity"></activity>
        <activity android:name=".controler.testActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controler.MainActivity"
            android:label="Accueil">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".controler.ListMusicActivity" />
        <activity android:name=".controler.HistoricActivity" />
        <activity android:name=".controler.ReccordActivity" />
        <activity android:name=".controler.LyricsActivity" />
        <activity android:name=".controler.SpotifyConnectActivity" />
        <activity android:name=".controler.SpotifyListMusics" />
        <activity
            android:name=".controler.NotFoundActivity"
            android:label="Lyrics not found" />
    </application>

</manifest>